/*Stylesheet*/

.popup{
    display: none; 
    position: absolute;
    z-index: 100;
    background-color: #b6de31;
    width: 20%;
    text-align: center;
    left: 40%;
    top: 20%;
}


body{
    background-image: url(../images/newbackground.jpg);
    background-size: auto;
    width: 100%;
}


.gem-image{
    height: 100px;
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.title{
    font-family: 'Monofett', cursive;
    color: #2BAF04;
    background-color: #e6e9ff;
    align-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.text{ 
    color: #2BAF04;
    background-color: #e6e9ff;
    align-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

.container{
        margin-top: 50px;   
        max-width: 960px;
        padding: 10px 0px;
    }
