/*Stylesheet*/





body{
    background-image: url(../images/newbackground.jpg);
    background-size: auto;
    width: 100%;
}


.gem-image{
    height: 100px;
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
}

.title{
    font-family: 'Monofett', cursive;
    color: #2BAF04;
    background-color: #e6e9ff;
    align-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.text{ 
    color: #2BAF04;
    background-color: #e6e9ff;
    align-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

.container{
        margin-top: 50px;   
        max-width: 960px;
        padding: 10px 0px;
    }

.btn {
  background-color: #71b8d6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-txt{
  color: white;
  padding: 5%;

}

.popup{
    display: none; 
    position: absolute;
    z-index: 100;
    background-color: #30b701;
    width: 20%;
    Padding-bottom: 2%;
    text-align: center;
    left: 40%;
    top: 20%;
    color: white;
}
